*{
	box-sizing: border-box;
}

a{
	color: #000;
	text-decoration: none;
	display: inline-block;
}

body{
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	line-height: 22px;
	color: #636363;
	font-size: 15px;
}

.container{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	position: fixed;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 89px;
}

.menu__list {
	display: flex;
}

.menu__list li{
	margin-left: 35px;
}

.menu__list a{
	font-size: 17px;
	color: #454545;
	font-weight: 400;
}

.login__btn{
	width: 87px;
	height: 27px;
	border-radius: 3px;
	background-color: #de6d6e;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top{
	background-image: url(../images/bg_top.png);
	background-size: cover;
}

.top__inner{	
	padding-top: 411px;
	padding-bottom: 88px;
	display: flex;
	justify-content: center;
}

.top-info{
	text-align: center;
}

.top-info__title {
	font-size: 69px;
	font-weight: 900;
	line-height: 80px;
	color: #fff
}

.top-info__descr {
	font-size: 25px;
	font-weight: 400;
	line-height: 30px;
	color: #fff
}

